body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.back{
  background: url(Фотка.jpg);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.main-text{
  text-align: center;
}
hr{
  border: none;
  background-color: red;
  color: red;
  height: 2px;
  width: 100px;
}
.pfblock-line{
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 2px;
  margin: 30px auto;
}
.title{
  font-weight: 800;
}
.item{
  display: block;
  margin-left: auto;
  margin-right: auto 
}
#footer {
 left: 0; bottom: 0; /* Левый нижний угол */
 padding: 10px; /* Поля вокруг текста */
 background: #39b54a; /* Цвет фона */
 color: #fff; /* Цвет текста */
 width: 100%; /* Ширина слоя */
 box-sizing: border-box;
}
